= render "projects/sub_navbar"

.row
  .col-md-5.wall
    = render "index"

  .col-md-7.wall
    %h3.wall-header
      .wall-header-content
        .row
          .col-md-9
            新建文档
          .col-md-3
    %br

    = render "form"

