.project-item {
  cursor: pointer;
  width: 248px;
  height: 165px;
  float: left;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 40px 0;
  padding: 25px 25px 45px 25px;
  position: relative;
  border-radius: 3px;
  text-align: center;
}
