%table.table.table-hover
  - plans.each do |plan|
    %tr
      %td
        .row
          .col-md-9
            .btn-group
              %button.btn.btn-default.btn-xs
                %span.glyphicon{:class=>get_plan_status_style(plan.status)}
            = plan.title
          .col-md-2
            = "#{plan.begin_at.strftime('%m/%d')} - #{plan.end_at.strftime('%m/%d')}" if plan.begin_at and plan.end_at
          .col-md-1
            /= link_to '编辑', edit_plan_path(plan), :class=>"btn btn-xs btn-default"
            /= link_to '删除', plan, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-xs btn-default"

