%ul.nav.nav-sidebar
  %li{:class => (controller_name=="home"?"active":nil)}
    %a{:href=>root_path}
      %span.glyphicon.glyphicon-comment
      动态
  %li{:class => (controller_name=="dailies"?"active":nil)}
    %a{:href=>"/dailies/my/#{Time.now.strftime("%Y-%m-%d")}"}
      %span.glyphicon.glyphicon-pencil
      日报
  %li{:class => (controller_name=="plans"?"active":nil)}
    %a{:href=>plans_path}
      %span.glyphicon.glyphicon-tasks
      计划
  %li{:class => (controller_name=="theses"?"active":nil)}
    %a{:href=>theses_my_path}
      %span.glyphicon.glyphicon-book
      科研
%ul.nav.nav-sidebar
  %li{:class => (controller_name=="projects"?"active":nil)}
    %a{:href=>projects_path}
      %span.glyphicon.glyphicon-calendar
      项目
  %li{:class => (controller_name=="papers"?"active":nil)}
    %a{:href=>papers_path}
      %span.glyphicon.glyphicon-list-alt
      论文
  %li{:class => (controller_name=="patents"?"active":nil)}
    %a{:href=>patents_path}
      %span.glyphicon.glyphicon-star
      专利
%ul.nav.nav-sidebar
  %li{:class => (controller_name=="users"?"active":nil)}
    %a{:href=>users_path}
      %span.glyphicon.glyphicon-user
      成员
  %li{:class => (controller_name=="groups"?"active":nil)}
    %a{:href=>groups_path}
      %span.glyphicon.glyphicon-thumbs-up
      团队
  %li
    %a{:href=>"#"}
      %span.glyphicon.glyphicon-file
      资源

